<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms</title>
  </head>
  <body>
    <h1>MadLibs</h1>
    <form action="/story">
      <label for="place">Place:</label>
      <input
        type="text"
        placeholder="any type of place"
        name="place"
        id="place"
      />
      <label for="noun">Noun:</label>
      <input type="text" placeholder="any noun" name="noun" id="noun" />
      <label for="verb">Verb:</label>
      <input type="text" placeholder="any verb" name="verb" id="verb" />
      <label for="adjective">Adjective:</label>
      <input
        type="text"
        placeholder="any adjective"
        name="adjective"
        id="adjective"
      />
      <label for="plural_noun:">Plural Noun:</label>
      <input
        type="text"
        placeholder="any type of plural noun"
        name="plural_noun"
        id="plural_noun"
      />
      <button>Submit!</button>
    </form>
  </body>
</html>
